body {
  background-image: url(img_prueba/dark-gray-abstract-concrete-wall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-wall {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-auto-rows: 220px;
  gap: 20px;
  justify-content: center;
  grid-auto-flow: dense;
}

.frame {
  background: #fff;
  padding: 8px;
  border: 2px solid #111;
  box-shadow: 4px 6px 0 rgba(0,0,0,0.25);
  transform: rotate(var(--r, 0deg));
  transition: transform 0.3s ease;
}

.frame:hover {
  --r: 5deg;
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small {
  grid-column: span 1;
  grid-row: span 1;
}

.vertical {
  grid-column: span 1;
  grid-row: span 2;
}
.wide {
  grid-column: span 2;
  grid-row: span 1;
}


.gallery-title-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: -40px; 
  z-index: 2;
}


.gallery-title {
  background: #5a5a5a;
  color: #fff;
  padding: 10px 60px;
  font-weight: 600;
  position: relative;
  transform: translate(3px, 3px);
  box-shadow: 10px 10px 0 rgba(0,0,0,0.3);
}

@keyframes neonParpadeo {
  0%, 100% { color: #fff; text-shadow: none; }
  15%, 65% { color: #ffd700; text-shadow: 0 0 4px #ffd700, 0 0 12px #ffd700, 0 0 30px rgba(255, 215, 0, 0.3); }
  30%, 50%, 80% { color: #fff; text-shadow: none; }
}

.nl {
  display: inline-block;
  animation: neonParpadeo 1.5s forwards;
  -webkit-animation: neonParpadeo 1.5s forwards;
}
.nl:nth-child(1) { animation-delay: 0.0s; }
.nl:nth-child(2) { animation-delay: 0.4s; }
.nl:nth-child(3) { animation-delay: 0.8s; }
.nl:nth-child(4) { animation-delay: 0.1s; }
.nl:nth-child(5) { animation-delay: 1.2s; }
.nl:nth-child(6) { animation-delay: 0.5s; }
.nl:nth-child(7) { animation-delay: 0.9s; }


.frame:where(:nth-child(odd)) { --r: -2deg; }
.frame:where(:nth-child(even)) { --r: 2deg; }

@media (max-width: 500px) {
  .gallery-wall {
    grid-template-columns: 1fr;
    justify-content: stretch;
  }

  .wide,
  .vertical,
  .small {
    grid-column: span 1;
    grid-row: span 1;
  }
}

